# Environment files
.env
.env.*
*.env
# But include the template
!.env.template

volumes/**
data/**
models/**
logs/**
stored_images/**
dis_pdu_src/data_operations/dis_synthetic_pdu/pdu_logs/**
backups/**

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
